.products {
	background-color: #f7f7f7;
	padding: 50px 0;
}

.products__title {
	margin-bottom: 32px;
	text-align: center;
	font-size: 42px;
	font-weight: 700;
}

.products__tabs {
	margin-bottom: 80px;
	text-align: center;
}

.products__slider {
	margin-bottom: 60px;
}

.products__link {
	text-align: center;
}

.tab-controls {
	display: inline-flex;
	padding: 6px;
	border-radius: 44px;
	background: #eee;

	.tab-controls__btn {
		padding: 7px 20px;
		border-radius: 32px;
		background: inherit;
		transition: background 0.2s ease-in-out;
		font-size: 18px;
		line-height: 185%;
		opacity: 0.8;
	}

	.tab-controls__btn--active {
		background: #fff;
		opacity: 1;
	}
}

.card {
	width: 268px;
	font-family: $font-cards;
	position: relative;
}

.card__link {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.card__photo {
	height: 240px;
	background-color: #fafafa;
	border-radius: 20px 20px 0 0;
	text-align: center;
	margin-top: 50px;

	.card__img {
		margin-top: -50px;
	}
}

.card__desc {
	display: flex;
	flex-direction: column;
	gap: 6px;
	background-color: #fff;
	border-radius: 0 0 20px 20px;
	padding: 14px 22px 28px;
	height: 202px;
}

.card__category {
	position: relative;
	color: $text-muted;
	font-size: 16px;
	z-index: 3;
}

.card__title {
	color: $text-product-dark-blue;
	font-size: 21px;
	font-weight: 600;
	text-transform: capitalize;
}

.card__rating {
	display: flex;
	gap: 3px;
}

.card__footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__price {
	color: $text-product-dark-blue;
	font-size: 21px;
	font-weight: 600;
	display: flex;
	align-items: flex-start;
	gap: 3px;

	&::before {
		content: attr(data-value);
		font-size: 15px;
	}
}

.card__btn {
	position: relative;
	z-index: 3;
	width: 48px;
	height: 48px;
	background-color: $ui-dark-blue;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s linear;

	&:hover {
		opacity: 0.8;
	}
}

.slider {
	position: relative;
}

.slider-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.slider-btn--prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slider-btn--next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}
