@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap');

html,
body {
	font-family: $font-main;
	color: $text-color;
}

.container {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;

	&--small {
		max-width: 1094px;
	}
}

.none {
	display: none !important;
}
