@mixin retina-bg($image) {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: $image;
	}
}

$text-color: #1e1e1e;
$text-muted: #8d8d8d;
$text-product-dark-blue: #0d1b39;
$header-text-color: #fff;
$accent: #e58411;
$ui-biruza: #00d6c9;
$ui-gray: #7c7c7c;
$ui-orange: #e58411;
$ui-dark-blue: #0d1b39;
$footer-text-color: rgba(255, 255, 255, 0.8);
$footer-bg: #2d2f33;
$font-main: 'Gilroy', sans-serif;
$font-cards: 'Inter', sans-serif;
$font-footer: 'DM Sans', sans-serif;
